#projects-main-container {
    width: inherit;

    display: flex;
    flex-direction: column;
}

.projects {
    width: inherit;
}

.projects-container {
    width: inherit;
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    overflow: hidden;
}

.gap {
    margin-bottom: 1rem;
}

.pleft {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
}

.pright {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
}

.pboth {
    grid-column: 1 / span 2;
}

.pimg-container {
    overflow: hidden;
    text-align: center;
}

.pimg {
    aspect-ratio: initial;
    object-fit: fill;
    border-radius: 0.25rem;
}

.ptitle {
    font-size: 2rem;
    text-align: center;
}

.psubtitle {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pbody {
    margin-top: 1rem;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-aspect-ratio: 1/1) {
    .pleft {
        grid-column: 1 / span 1 !important;
        grid-row: 1 / span 1 !important;
    }

    .pright {
        grid-column: 1 / span 1 !important;
        grid-row: 2 / span 1 !important;
    }

    .both {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .projects-container {
        grid-template-columns: auto !important;
        grid-template-rows: auto auto !important;
    }

    .pimg {
        width: 100vw !important;
    }
}