body[data-theme="dark"] {
  --silver: #c0c0c0;

  --background-color: RGB(20, 20, 20);
  --text-color: white;
  --secondary-text-color: var(--silver);
  --logo-default: var(--silver);
  --logo-hover: white;

  --button-text: var(--silver);
  --button-border: var(--silver);

  --icon-button: var(--silver);
  --icon-button-hover: white;

  --home-button: var(--silver);

  --about-link-text: RGB(83, 165, 224);
  --about-link-hover: RGB(109, 193, 252);

  --divider: var(--silver);

  --textbox-border: var(--silver);
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.page {
  width: 100vw;
  max-width: 100vw;
  justify-self: center;
}

@media (min-aspect-ratio: 1/1) {
  .page {
    width: 70vw; /* width for computers */
    max-width: 70vw;
  }
}

.glyph, .glyph input {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

.geometric, .geometric input {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo, .exo input {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.secondary {
  color: var(--secondary-text-color);
}

.main-content {
  height: 78vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#github-link, #linkedin, #email {
  color: var(--logo-default);
  transition: 150ms;
}

#github-link:hover, #linkedin:hover, #email:hover, .home-button:hover {
  color: var(--logo-hover) !important;
  transform: scale(110%);
}

.buttonBackground {
  background-color: var(--background-color);
  color: var(--button-text);
  text-decoration: none;
  border-color: var(--button-border);

  transition: border 150ms;
}

.buttonBackground:hover {
  border: transparent;
}

.generic-icon-button {
  color: var(--icon-button);
  transition: 150ms !important;
}

.generic-icon-button:hover {
  color: var(--icon-button-hover);
  transform: scale(110%);
}

.home-button {
  color: var(--home-button) !important;
  transition: 150ms !important;
}

.no-link-styling, .no-link-styling:visited {
  text-decoration: inherit;
  color: inherit;
}

.about-link {
  color: var(--about-link-text) !important;
  transition: 150ms;
}

.about-link:hover {
  color: var(--about-link-hover) !important;
}

.divider {
  background-color: var(--divider);
}

.textfield input {
  color: var(--text-color)
}

.textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--textbox-border) !important;
}

.chip .MuiChip-label {
  color: var(--text-color);
}

.pointer {
  cursor: pointer;
}

.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */
}