body[data-theme="dark"] {
  --silver: #c0c0c0;

  --background-color: RGB(20, 20, 20);
  --text-color: white;
  --logo-default: var(--silver);
  --logo-hover: white;

  --button-text: var(--silver);
  --button-border: var(--silver);

  --home-button: var(--silver);

  --about-link-text: RGB(83, 165, 224);
  --about-link-hover: RGB(109, 193, 252);

  --divider: var(--silver);
}


body {
  background-color: var(--background-color);
  color: var(--text-color);

}

.page {
  width: 100vw;
  max-width: 100vw;
  justify-self: center;
}

@media (min-aspect-ratio: 1/1) {
  .page {
    width: 70vw; /* width for computers */
    max-width: 70vw;
  }
}

.glyph {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

.geometric {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.main-content {
  height: 78vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#github-link, #linkedin {
  color: var(--logo-default);
  transition: 150ms;
}

#github-link:hover, #linkedin:hover, .home-button:hover {
  color: var(--logo-hover) !important;
  transform: scale(110%);
}

.buttonBackground {
  background-color: var(--background-color);
  color: var(--button-text);
  text-decoration: none;
  border-color: var(--button-border);

  transition: border 150ms;
}

.buttonBackground:hover {
  border: transparent;
}

.home-button {
  color: var(--home-button) !important;
  transition: 150ms !important;
}

.no-link-styling, .no-link-styling:visited {
  text-decoration: inherit;
  color: inherit;
}

.about-link {
  color: var(--about-link-text) !important;
  transition: 150ms;
}

.about-link:hover {
  color: var(--about-link-hover) !important;
}

.divider {
  background-color: var(--divider);
}