#nav {
    width: 70vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2vh;
}

.NavButton {
    display: block;
    width: 30vw;
    min-width: 30vw;
    height: 18vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

    z-index: 1;
    text-decoration: none;
}

.buttonBackground {
    min-width: calc(30vw - 4px);
    height: calc(18vh - 4px);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid;
    border-radius: 1.5rem;
    
    font-size: 1.5rem;

    z-index: 2;
}